@{
    Layout = "_Layout";
}

<style>
    a {
        text-decoration:none;
    }
</style>

<section>
    <section class="row">
        <div class="col-md-9">
            <h1 style="border-bottom:solid 1px gray;padding-bottom:10px">Vangelis</h1>
            <p style="text-align:justify">
                Lorem ipsum dolor sit amet. Qui dolores dolores et eaque quaerat qui facere deleniti ea nesciunt rerum et rerum tempora id similique amet nam consequatur omnis. Non voluptatem itaque et cupiditate reprehenderit est corrupti facere! Aut quis adipisci a ducimus esse sit sunt omnis? Ut praesentium praesentium id recusandae dolores et placeat tempora. Sed sunt consectetur est rerum harum sed nihil tempore et repudiandae quod. Hic ratione sapiente est quia quis est galisum amet. Aut minima odio qui dolores obcaecati est obcaecati quidem? In esse velit eos odit dolor est consequatur nihil aut internos error non corrupti sint vel sint voluptas.
            </p>

            <p>Date de naissance : 29/03/1934</p>

            <p>Site web : <a href="">http://www.vangelisworld.com/</a></p>

            <h2 style="border-bottom: solid 1px gray; padding-bottom: 10px">Albums</h2>

            <section class="row">
                <p class="col-md-3"></p>
                <h3 class="col-md-9">Blade Runner</h3>
                <img class="col-align-self-end col-md-3" src="https://i.etsystatic.com/15564183/r/il/6985ad/1403754215/il_570xN.1403754215_h5oc.jpg" />

                <section class="row col-md-9">
                    <div class="row" style="background-color:#DDDDDD;height:80px">
                        <b class="col-md-2">Durée</b>
                        <b class="col-md-10">Titre</b>
                    </div>
                    <div class="row">
                        <p class="col-md-2">04:39</p>
                        <p class="col-md-10">Blade Runner - End Titles</p>
                    </div>
                </section>

            </section>

        </div>
        <div class="col-md-3">
            <div class="text-center">
                <h1>A propos</h1>
                <p>Retrouvez les dernières pépites sur notre webzine.</p>

            </div>
            <h1 class="text-center">Styles</h1>
        </div>
    </section>
</section>
