@{
    Layout = "_Layout";
}

<style>
    a {
        text-decoration:none;
    }
    

    table * {
        border:none !important;
    }
</style>

<section>
    <section class="row">
        <div class="col-md-9">
            <h1>Vangelis</h1>
            <hr />
            <p style="text-align:justify">
                Lorem ipsum dolor sit amet. Qui dolores dolores et eaque quaerat qui facere deleniti ea nesciunt rerum et rerum tempora id similique amet nam consequatur omnis. Non voluptatem itaque et cupiditate reprehenderit est corrupti facere! Aut quis adipisci a ducimus esse sit sunt omnis? Ut praesentium praesentium id recusandae dolores et placeat tempora. Sed sunt consectetur est rerum harum sed nihil tempore et repudiandae quod. Hic ratione sapiente est quia quis est galisum amet. Aut minima odio qui dolores obcaecati est obcaecati quidem? In esse velit eos odit dolor est consequatur nihil aut internos error non corrupti sint vel sint voluptas.
            </p>

            <p>Date de naissance : 29/03/1934</p>

            <p>Site web : <a href="">http://www.vangelisworld.com/</a></p>


            <h1 class="mt-5">Albums</h1>
            <hr />

            <section class="row mt-4">
                <p class="col-md-3"></p>
                <h3 class="col-md-9">Blade Runner</h3>
                <div class="row mb-5">
                    <img class="col-md-3" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/artistic-album-cover-design-template-d12ef0296af80b58363dc0deef077ecc_screen.jpg?ts=1561488440" />
                    <div class="col-md-9">
                        <table class="table">
                            <thead class="table-secondary">
                                <tr>
                                    <th>Durée</th>
                                    <th>Titre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>03:43</td>
                                    <td><a href="">Blade Runner - End Titles</a></td>
                                </tr>
                                <tr>
                                    <td>03:43</td>
                                    <td><a href="">Blade Runner - End Titles</a></td>
                                </tr><tr>
    <td>03:43</td>
    <td><a href="">Blade Runner - End Titles</a></td>
</tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="row mt-4">
                <p class="col-md-3"></p>
                <h3 class="col-md-9">Blade Runner</h3>
                <div class="row mb-5">
                    <img class="col-md-3" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/pride-album-cover-art-design-template-d2bf21df8ead7742d0af24f0143097df_screen.jpg?ts=1596467888" />
                    <div class="col-md-9">
                        <table class="table">
                            <thead class="table-secondary">
                                <tr>
                                    <th>Durée</th>
                                    <th>Titre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>03:43</td>
                                    <td><a href="">oui</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>


        </div>
        <div class="col-md-3">
            <div class="text-center">
                <h1>A propos</h1>
                <p>Retrouvez les dernières pépites sur notre webzine.</p>

            </div>
            <h1 class="text-center">Styles</h1>
        </div>
    </section>
</section>
