<div>
    <br />
    <h1>Erreur interne</h1>
    <hr />
    <div class="row mt-4">
        <h2>Vous avez rencontrer une erreur interne</h2>
        <h4>Veuillez retourner à la page d'accueil</h4>
        <br />
        <br />
        <br />
        <a asp-controller="home" asp-action="">Retour à la page d'accueil</a>
    </div>
</div>
