@{
    ViewData["title"] = "Contact";
}

<div>
    <h1>Contact</h1>
    <br />
    <p>C.U.C.D.B. - DIIAGE</p>
    <p>69 Avenue Aristide Briand</p>
    <p>21000 Dijon</p>
    <br />
    <i class="fas fa-phone-alt"></i> 03 80 73 45 90
    <br />
    <i class="fas fa-envelope"></i><a href="mailto:secretariat@cucdb.fr" class="text-decoration-none"> secretarait@cucdb.fr</a>
    <br />
</div>
<br />
<div>
    <h1>Suivez-nous</h1>
    <div class="row text-center">
        <div class="col"><div class="p-5 bg-light"><a href="http://diiage.cucdb.fr/" target="_blank" class="text-decoration-none"><i class="fas fa-link fa-3x"></i><br /> Site officiel du DIIAGE</a></div></div>
        <div class="col"><div class="p-5 bg-light"><a href="https://www.facebook.com/diiage" target="_blank" class="text-decoration-none"><i class="fab fa-facebook fa-3x"></i><br />Facebook</a></div></div>
        <div class="col"><div class="p-5 bg-light"><a href="https://www.instagram.com/diiage.cucdb/" target="_blank" class="text-decoration-none"><i class="fab fa-instagram fa-3x"></i><br />Instagram</a></div></div>
    </div>
    <br />
    <div class="row text-center">
        <div class="col"><div class="p-5 bg-light"><a href="https://www.linkedin.com/company/diiage/" target="_blank" class="text-decoration-none"><i class="fab fa-linkedin fa-3x"></i><br />Linkedin</a></div></div>
        <div class="col"><div class="p-5 bg-light"><a href="https://cutt.ly/zjIDiME" target="_blank" class="text-decoration-none"><i class="fas fa-map fa-3x"></i><br />Google Maps</a></div></div>
        <div class="col"><div class="p-5 bg-light"><a href="https://twitter.com/DiiageCucdb" target="_blank" class="text-decoration-none"><i class="fab fa-twitter fa-3x"></i><br />Twitter</a></div></div>
    </div>
</div>

