@model List<Webzine.Entity.Style>
<div class="col-md-3 p-3">
    <div>
        <h1>A propos</h1>
        <p>Retrouvez les dernières pépites sur notre webzine.</p>
    </div>

    <h1>Styles</h1>
    <ul>
        @foreach (var style in Model.ToList())
        {
            <li><a asp-action="Index" asp-route-libelle="@style.Libelle" asp-controller="StyleSearch">@style.Libelle</a></li>
        }
    </ul>
</div>