@model List<Webzine.Entity.Style>
<div class="col-md-3 p-3">
    <div>
        <h1>A propos</h1>
        <p>Retrouvez les dernières pépites sur notre webzine.</p>

    </div>
    <div class="p-3">
        <h1>Styles</h1>
        <div>
            <ul>
                @foreach (var style in Model.ToList())
                {
                    <li><a asp-action="" asp-route-libelle="@style.Libelle" asp-controller="StyleSearch">@style.Libelle</a></li>
                }
            </ul>
        </div>
    </div>
</div>