<div class="container">
        <div class="row">
            <div>
                <h1>Delete an XX @*Retrieve selected preview page*@ </h1>
                <hr />
                <h3>Are you sure you want to delete the XX : "YY"</h3>
                <br />
                <button class="btn btn-danger btn-lg">Delete</button>
            </div>
            <br /><br /><br />
            <a href='@Url.Action("", "", new { area = "admin" })'>Go back</a>
        </div>
</div>

