@model Webzine.WebApplication.Areas.Admin.ViewModels.ArtistViewModel
@{
    var action = "";
    if (Model == null)
    {
        action = "create";
        ViewData["title"] = "Création artiste";
    }
    else
    {
        action = "edit";
        ViewData["title"] = "Edition artiste";
    }
}

<div>
    @if (Model == null)
    {
        <h1>Créer un artiste</h1>
    }
    else
    {
        <h1>Editer un artiste</h1>

    }
    <hr />
</div>

<div asp-validation-summary="All"></div>

<form method="post" asp-action="@action">

    @if (Model != null)
    {
        <input name="idArtiste" value="@Model.Artiste.IdArtiste" type="hidden" />
    }

    <div class="mb-3 row form-group required">
        <label class="col-sm-2 col-form-label control-label">Nom de l'artiste<span class="text-danger">*</span></label>
        <div class="col-sm-10">
            @if (Model == null)
            {
                <input name="nom" type="text" class="form-control" placeholder="Nom de l'artiste...">
            }
            else
            {
                <input name="nom" type="text" class="form-control" asp-for="@Model.Artiste.Nom">
            }
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Biographie</label>
        <div class="col-sm-10">
            @if (Model == null)
            {
                <textarea style="min-height:200px" name="biographie" type="text" class="form-control"></textarea>

            }
            else
            {
                <textarea style="min-height:200px" name="biographie" type="text" class="form-control">@Model.Artiste.Biographie</textarea>
            }
        </div>
    </div>

    <div class="row">
        <span class="col-sm-2"></span>
        <div class="col-sm-10">
            @if (Model == null)
            {
                
            }
            else{}
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </div>
    </div>
    <br />
    <br />
    <a asp-action="">Retour à l'administration des artistes</a>
</form>