@model Webzine.WebApplication.Areas.Admin.ViewModels.ArtistViewModel


@{
    if (Model == null)
    {
        ViewData["title"] = "Création artiste";
    }
    else
    {
        ViewData["title"] = "Edition artiste";
    }

}


<div class="container">
    <div class="row">
        <div>
            @if (Model == null)
            {
                <h1>Créer un artiste</h1>
            }
            else
            {
                <h1>Editer un artiste</h1>

            }
            <hr />
        </div>
        <form>
            <div class="row">
                <div class="col-sm-6 col-lg-2">
                    <label>Nom de l'artiste</label>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-10">

                    @if (Model == null)
                    {
                        <input type="text" class="form-control">
                    }
                    else
                    {
                        <input type="text" class="form-control" placeholder="@Model.Artiste.Nom">
                    }
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6 col-lg-2">
                    <label>Biographie</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-10">
                    @if (Model == null)
                    {
                        <textarea type="text" class="form-control"></textarea>

                    }
                    else
                    {
                        <textarea type="text" class="form-control" placeholder="@Model.Artiste.Biographie"></textarea>
                    }
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6 col-lg-2">
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-10">
                    <a asp-action="" class="btn btn-primary">Sauvegarder</a>
                </div>
            </div>
            <br />
            <a asp-action="">Retour à l'administration des artistes</a>
        </form>
    </div>
</div>