@{
    ViewData["title"] = "Création style";
}



<div class="container">
    <div class="row">
        <div>
            <h1>Créer un style</h1>
            <hr />
        </div>
        <form>
            <div class="row">
                <label class="col-md-2 align-text-center">Libellé</label>
                <input class="col-md-3" type="text">
                <a asp-action="" class="btn btn-primary col-md-2">Sauvegarder</a>
            </div>
            <br />
            <br />
            <a asp-action="">Retour à l'administration des styles</a>
        </form>
    </div>
</div>