@model Webzine.WebApplication.Areas.Admin.ViewModels.StyleViewModel
@{
    ViewData["title"] = "Admin - Styles";
}

<h1>Styles</h1>
<hr />
<a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter un nouveau style</a>
<br /><br />
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="table-secondary" scope="col">Libellé</th>
            <th class="table-secondary text-center" scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var style in Model.Styles)
        {
            <tr>
                <td>@style.Libelle</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-idStyle="@style.IdStyle"> <i class="fas fa-edit"></i> </a>
                    <a asp-action="Delete" asp-route-idStyle="@style.IdStyle"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>