<div class="container">
    <div class="row">
        <h1>Result for the search XXX</h1>
        <hr />
    </div>
</div>

<div class="container">
    <h3>Artists</h3>
    <h5><i class="fas fa-user"></i><a href="#"> Name artist</a></h5>
</div>
<br />
<br />
<div class="container">
    <h3>Titles</h3>
    <div class="row mb-3">
        <div class="col-xs-12 col-sm-6 col-lg-2">
            <img style="height:150px; width: auto" class="img-fluid" src="https://picsum.photos/100/100">
        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="row">
                <h5><a href="#">Artist</a> - <a href="#">Title</a></h5>
                <h5>Lenght</h5>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-xs-12 col-sm-6 col-lg-2">
            <img style="height:150px; width: auto" class="img-fluid" src="https://picsum.photos/100/100">
        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="row">
                <h5><a href="#">Artist</a> - <a href="#">Title</a></h5>
                <h5>Lenght</h5>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-xs-12 col-sm-6 col-lg-2">
            <img style="height:150px; width: auto" class="img-fluid" src="https://picsum.photos/100/100">
        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="row">
                <h5><a href="#">Artist</a> - <a href="#">Title</a></h5>
                <h5>Lenght</h5>
            </div>
        </div>
    </div>


</div>
