<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a asp-area="" asp-controller="home" asp-action="" class="navbar-brand">Webzine</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a asp-area="" asp-controller="home" asp-action="" class="nav-link"><i class="fas fa-home"></i> Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i class="fas fa-tools"></i> Administration</a>
                    <ul class="dropdown-menu">
                        <li><a asp-area="administration" asp-controller="artistes" asp-action="" class="dropdown-item"><i class="fas fa-users"></i> Artistes</a></li>
                        <li><a asp-area="administration" asp-controller="commentaire" asp-action="" class="dropdown-item"><i class="fas fa-comments"></i> Commentaires</a></li>
                        <li><a asp-area="administration" asp-controller="style" asp-action="" class="dropdown-item"><i class="fas fa-tags"></i> Styles</a></li>
                        <li><a asp-area="administration" asp-controller="titre" asp-action="" class="dropdown-item"><i class="fas fa-music"></i> Titres</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="contact" asp-action="" class="nav-link"><i class="fas fa-envelope"></i> Contact </a>
                </li>
            </ul>
            <form method="post" asp-area="" asp-controller="recherche" class="form-inline my-2 my-lg-0">
                <div class="input-group">
                    <input name="keyword" id="searchbar" class="form-control mr-sm-2" type="search" placeholder="Trouver un artiste / titre" aria-label="Trouver un artiste / titre" aria-describedby="search-addon">
                    <button type="submit" class="btn btn-primary my-2 my-sm-0"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</nav>